@model Preguntas.Models.Pregunta

@{
    ViewData["Title"] = "Crear Pregunta";
}

<h1>Crear Pregunta</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TextoPregunta" class="control-label"></label>
                <textarea asp-for="TextoPregunta" class="form-control"></textarea>
                <span asp-validation-for="TextoPregunta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activa" /> @Html.DisplayNameFor(model => model.Activa)
                </label>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}